n8n_examples/01_prospeccao_b2b_pessoas.json
{
  "name": "Prospecção B2B - Qualidade / Perdas / Prevenção",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Início Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "resource": "b2bPerson",
        "operation": "prospect",
        "pagina": 1,
        "porPagina": 20,
        "filtrosPessoa": {
          "departamentos": ["Qualidade"],
          "cargos": "Gerente de Qualidade, Coordenador de Perdas, Analista de Prevenção, Supervisor de Qualidade, Gerente de Prevenção de Perdas",
          "has_email": true,
          "has_phone": true,
          "estados": ["SP", "RJ", "MG", "PR", "SC", "RS"]
        },
        "filtrosEmpresa": {
          "setores": "Industria, Varejo, Manufatura",
          "tamanhos_empresa": ["51-200", "201-500", "501-1000", "1001-5000"],
          "tipos_trabalho": ["Empresa Privada"]
        }
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Prospectar Contatos B2B",
      "type": "n8n-nodes-datastone.dataStone",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "dataStoneApi": {
          "id": "",
          "name": "Data Stone API"
        }
      }
    },
    {
      "parameters": {
        "resource": "b2bPerson",
        "operation": "enrich",
        "contatoId": "={{ $json.id_pessoa }}",
        "urlWebhook": "https://SEU-N8N.com/webhook/datastone-enrich-resultado"
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "Enriquecer Contato",
      "type": "n8n-nodes-datastone.dataStone",
      "typeVersion": 1,
      "position": [720, 300],
      "credentials": {
        "dataStoneApi": {
          "id": "",
          "name": "Data Stone API"
        }
      }
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": ["GET", "HEAD", "POST"],
        "path": "datastone-enrich-resultado",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "a1b2c3d4-0006-4000-8000-000000000006",
      "name": "Webhook Enriquecimento",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 600],
      "webhookId": "datastone-enrich-resultado"
    },
    {
      "parameters": {
        "operation": "spreadsheet",
        "options": {
          "fileName": "=prospeccao_b2b_{{ $now.format('yyyy-MM-dd_HH-mm') }}.csv",
          "headerRow": true
        }
      },
      "id": "a1b2c3d4-0007-4000-8000-000000000007",
      "name": "Gerar CSV",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [460, 600]
    },
    {
      "parameters": {
        "content": "## Prospecção B2B - Qualidade / Perdas / Prevenção\n\n### Como usar este template:\n\n1. **Configure a credencial** Data Stone API com sua API Key\n2. **Ajuste os filtros** no nó \"Prospectar Contatos B2B\"\n3. **Configure a URL do webhook** no nó \"Enriquecer Contato\":\n   - Substitua a URL pelo endereço real do seu n8n\n   - Ex: `https://seu-n8n.com/webhook/datastone-enrich-resultado`\n4. **Ative o workflow** para que o webhook fique escutando\n5. **Execute** o fluxo manualmente ou agende\n\n### Como funciona:\n\n**Fluxo superior (prospecção):**\nInício Manual → Prospectar → Enriquecer (dispara)\n\n**Fluxo inferior (resultado):**\nWebhook ← Data Stone envia resultado → Gerar CSV\n\nO enriquecimento é **assíncrono**: a Data Stone\nprocessa e envia o resultado para o webhook.\nO CSV é gerado automaticamente com todos os\ncampos retornados e pode ser baixado no n8n\nou encaminhado para email/Google Drive/etc.\n\n**Importante:** O webhook aceita HEAD e POST\nporque a Data Stone valida a URL com HEAD\nantes de enviar os dados via POST.",
        "height": 520,
        "width": 380,
        "color": 4
      },
      "id": "a1b2c3d4-0005-4000-8000-000000000005",
      "name": "Instruções",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [720, 180]
    }
  ],
  "connections": {
    "Início Manual": {
      "main": [
        [
          {
            "node": "Prospectar Contatos B2B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prospectar Contatos B2B": {
      "main": [
        [
          {
            "node": "Enriquecer Contato",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Enriquecimento": {
      "main": [
        [
          {
            "node": "Gerar CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "B2B", "createdAt": "2025-01-01T00:00:00.000Z", "updatedAt": "2025-01-01T00:00:00.000Z" },
    { "name": "Prospecção", "createdAt": "2025-01-01T00:00:00.000Z", "updatedAt": "2025-01-01T00:00:00.000Z" },
    { "name": "Data Stone", "createdAt": "2025-01-01T00:00:00.000Z", "updatedAt": "2025-01-01T00:00:00.000Z" }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "template-prospeccao-b2b-v3"
}
