n8n_examples/02_prospeccao_b2b_empresas.json
{
  "name": "Prospecção B2B - Empresas por Setor",
  "nodes": [
    {
      "parameters": {},
      "id": "b2b2c3d4-0001-4000-8000-000000000001",
      "name": "Início Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "resource": "b2bCompany",
        "operation": "prospect",
        "pagina": 1,
        "porPagina": 20,
        "filtrosEmpresa": {
          "setores": "Tecnologia, Industria, Varejo",
          "tamanhos_empresa": ["51-200", "201-500", "501-1000"],
          "tipos_trabalho": ["Empresa Privada"],
          "estados": ["SP", "RJ", "MG"],
          "tem_email": true,
          "tem_linkedin": true
        }
      },
      "id": "b2b2c3d4-0002-4000-8000-000000000002",
      "name": "Prospectar Empresas B2B",
      "type": "n8n-nodes-datastone.dataStone",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "dataStoneApi": {
          "id": "",
          "name": "Data Stone API"
        }
      }
    },
    {
      "parameters": {
        "resource": "b2bCompany",
        "operation": "enrich",
        "contatoCnpj": "={{ $json.cnpj }}",
        "urlWebhook": "https://SEU-N8N.com/webhook/datastone-enrich-empresa"
      },
      "id": "b2b2c3d4-0003-4000-8000-000000000003",
      "name": "Enriquecer Empresa",
      "type": "n8n-nodes-datastone.dataStone",
      "typeVersion": 1,
      "position": [720, 300],
      "credentials": {
        "dataStoneApi": {
          "id": "",
          "name": "Data Stone API"
        }
      }
    },
    {
      "parameters": {
        "multipleMethods": true,
        "httpMethod": ["GET", "HEAD", "POST"],
        "path": "datastone-enrich-empresa",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "b2b2c3d4-0006-4000-8000-000000000006",
      "name": "Webhook Enriquecimento",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 600],
      "webhookId": "datastone-enrich-empresa"
    },
    {
      "parameters": {
        "operation": "spreadsheet",
        "options": {
          "fileName": "=prospeccao_empresas_b2b_{{ $now.format('yyyy-MM-dd_HH-mm') }}.csv",
          "headerRow": true
        }
      },
      "id": "b2b2c3d4-0007-4000-8000-000000000007",
      "name": "Gerar CSV",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [460, 600]
    },
    {
      "parameters": {
        "content": "## Prospecção B2B - Empresas por Setor\n\n### Como usar:\n\n1. **Configure a credencial** Data Stone API\n2. **Ajuste os filtros** no nó \"Prospectar Empresas B2B\":\n   - Setores, tamanhos, estados, etc.\n3. **Configure a URL do webhook** no nó \"Enriquecer Empresa\"\n4. **Ative o workflow** e execute\n\n### Fluxo:\n\n**Superior (prospecção):**\nInício → Prospectar Empresas → Enriquecer\n\n**Inferior (resultado):**\nWebhook → Gerar CSV\n\nO enriquecimento é assíncrono.\nO CSV é gerado automaticamente com todos\nos campos retornados pela API.",
        "height": 420,
        "width": 380,
        "color": 4
      },
      "id": "b2b2c3d4-0005-4000-8000-000000000005",
      "name": "Instruções",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [720, 180]
    }
  ],
  "connections": {
    "Início Manual": {
      "main": [
        [
          {
            "node": "Prospectar Empresas B2B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prospectar Empresas B2B": {
      "main": [
        [
          {
            "node": "Enriquecer Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Enriquecimento": {
      "main": [
        [
          {
            "node": "Gerar CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "B2B", "createdAt": "2025-01-01T00:00:00.000Z", "updatedAt": "2025-01-01T00:00:00.000Z" },
    { "name": "Empresas", "createdAt": "2025-01-01T00:00:00.000Z", "updatedAt": "2025-01-01T00:00:00.000Z" },
    { "name": "Data Stone", "createdAt": "2025-01-01T00:00:00.000Z", "updatedAt": "2025-01-01T00:00:00.000Z" }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "template-prospeccao-b2b-empresas-v2"
}
