n8n_examples/03_consulta_pessoa_cpf.json
{
  "name": "Consulta de Pessoa por CPF",
  "nodes": [
    {
      "parameters": {},
      "id": "c3c3c3d4-0001-4000-8000-000000000001",
      "name": "Início Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "resource": "person",
        "operation": "getByCpf",
        "cpf": "000.000.000-00",
        "fields": "name, birthday, age, gender, emails, addresses, mother_name, related_companies, employer"
      },
      "id": "c3c3c3d4-0002-4000-8000-000000000002",
      "name": "Consultar CPF",
      "type": "n8n-nodes-datastone.dataStone",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "dataStoneApi": {
          "id": "",
          "name": "Data Stone API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-nome",
              "name": "Nome",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "field-cpf",
              "name": "CPF",
              "value": "={{ $json.cpf }}",
              "type": "string"
            },
            {
              "id": "field-nascimento",
              "name": "Data de Nascimento",
              "value": "={{ $json.birthday }}",
              "type": "string"
            },
            {
              "id": "field-idade",
              "name": "Idade",
              "value": "={{ $json.age }}",
              "type": "string"
            },
            {
              "id": "field-genero",
              "name": "Gênero",
              "value": "={{ $json.gender }}",
              "type": "string"
            },
            {
              "id": "field-mae",
              "name": "Nome da Mãe",
              "value": "={{ $json.mother_name }}",
              "type": "string"
            },
            {
              "id": "field-emails",
              "name": "Emails",
              "value": "={{ Array.isArray($json.emails) ? $json.emails.join(', ') : $json.emails }}",
              "type": "string"
            },
            {
              "id": "field-empresa",
              "name": "Empregador",
              "value": "={{ $json.employer }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "c3c3c3d4-0003-4000-8000-000000000003",
      "name": "Organizar Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [720, 300]
    },
    {
      "parameters": {
        "operation": "spreadsheet",
        "options": {
          "fileName": "=consulta_cpf_{{ $now.format('yyyy-MM-dd_HH-mm') }}.csv",
          "headerRow": true
        }
      },
      "id": "c3c3c3d4-0004-4000-8000-000000000004",
      "name": "Gerar CSV",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [980, 300]
    },
    {
      "parameters": {
        "content": "## Consulta de Pessoa por CPF\n\n### Como usar:\n\n1. **Configure a credencial** Data Stone API\n2. **Insira o CPF** no nó \"Consultar CPF\"\n   - Formato: `000.000.000-00`\n3. **Execute** o workflow\n\n### Campos retornados:\n- Nome, Data de Nascimento, Idade\n- Gênero, Nome da Mãe\n- Emails, Endereços\n- Empresas relacionadas, Empregador\n\nVocê pode ajustar o campo `fields` para\nselecionar apenas os dados desejados.\n\n### Fluxo:\nInício → Consultar CPF → Organizar → CSV",
        "height": 380,
        "width": 340,
        "color": 4
      },
      "id": "c3c3c3d4-0005-4000-8000-000000000005",
      "name": "Instruções",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 500]
    }
  ],
  "connections": {
    "Início Manual": {
      "main": [
        [
          {
            "node": "Consultar CPF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consultar CPF": {
      "main": [
        [
          {
            "node": "Organizar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organizar Dados": {
      "main": [
        [
          {
            "node": "Gerar CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "Pessoa", "createdAt": "2025-01-01T00:00:00.000Z", "updatedAt": "2025-01-01T00:00:00.000Z" },
    { "name": "CPF", "createdAt": "2025-01-01T00:00:00.000Z", "updatedAt": "2025-01-01T00:00:00.000Z" },
    { "name": "Data Stone", "createdAt": "2025-01-01T00:00:00.000Z", "updatedAt": "2025-01-01T00:00:00.000Z" }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "template-consulta-pessoa-cpf-v1"
}
