n8n_examples/06_busca_empresa.json
{
  "name": "Busca de Empresa por Razão Social / Email / Domínio",
  "nodes": [
    {
      "parameters": {},
      "id": "f6f6f6f6-0001-4000-8000-000000000001",
      "name": "Início Manual",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "resource": "company",
        "operation": "search",
        "razao_social": "Tecnologia",
        "uf": "SP"
      },
      "id": "f6f6f6f6-0002-4000-8000-000000000002",
      "name": "Buscar Empresa",
      "type": "n8n-nodes-datastone.dataStone",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "dataStoneApi": {
          "id": "",
          "name": "Data Stone API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-razao-social",
              "name": "Razão Social",
              "value": "={{ $json.company_name || $json.razao_social }}",
              "type": "string"
            },
            {
              "id": "field-nome-fantasia",
              "name": "Nome Fantasia",
              "value": "={{ $json.trading_name || $json.nome_fantasia }}",
              "type": "string"
            },
            {
              "id": "field-cnpj",
              "name": "CNPJ",
              "value": "={{ $json.cnpj }}",
              "type": "string"
            },
            {
              "id": "field-email",
              "name": "Email",
              "value": "={{ $json.email }}",
              "type": "string"
            },
            {
              "id": "field-dominio",
              "name": "Domínio",
              "value": "={{ $json.domain || $json.dominio }}",
              "type": "string"
            },
            {
              "id": "field-telefone",
              "name": "Telefone",
              "value": "={{ $json.phone || $json.telefone }}",
              "type": "string"
            },
            {
              "id": "field-uf",
              "name": "UF",
              "value": "={{ $json.uf || $json.state }}",
              "type": "string"
            },
            {
              "id": "field-cep",
              "name": "CEP",
              "value": "={{ $json.cep || $json.zip_code }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "f6f6f6f6-0003-4000-8000-000000000003",
      "name": "Organizar Dados",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [720, 300]
    },
    {
      "parameters": {
        "operation": "spreadsheet",
        "options": {
          "fileName": "=busca_empresa_{{ $now.format('yyyy-MM-dd_HH-mm') }}.csv",
          "headerRow": true
        }
      },
      "id": "f6f6f6f6-0004-4000-8000-000000000004",
      "name": "Gerar CSV",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [980, 300]
    },
    {
      "parameters": {
        "content": "## Busca de Empresa\n\n### Como usar:\n\n1. **Configure a credencial** Data Stone API\n2. **Preencha os filtros** no nó \"Buscar Empresa\":\n   - `razao_social`: Razão Social\n   - `email`: Email (opcional)\n   - `domain`: Domínio (opcional)\n   - `phone`: Telefone (opcional)\n   - `uf`: Estado (opcional)\n   - `cep`: CEP (opcional)\n3. **Execute** o workflow\n\n### Diferença para CNPJ:\nEsta busca encontra empresas por critérios\ncombinados, sem precisar do CNPJ.\nÚtil para descobrir o CNPJ de uma empresa\nconhecendo apenas o nome ou domínio.\n\n### Fluxo:\nInício → Buscar Empresa → Organizar → CSV",
        "height": 420,
        "width": 340,
        "color": 4
      },
      "id": "f6f6f6f6-0005-4000-8000-000000000005",
      "name": "Instruções",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [200, 500]
    }
  ],
  "connections": {
    "Início Manual": {
      "main": [
        [
          {
            "node": "Buscar Empresa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Empresa": {
      "main": [
        [
          {
            "node": "Organizar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Organizar Dados": {
      "main": [
        [
          {
            "node": "Gerar CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    { "name": "Empresa", "createdAt": "2025-01-01T00:00:00.000Z", "updatedAt": "2025-01-01T00:00:00.000Z" },
    { "name": "Busca", "createdAt": "2025-01-01T00:00:00.000Z", "updatedAt": "2025-01-01T00:00:00.000Z" },
    { "name": "Data Stone", "createdAt": "2025-01-01T00:00:00.000Z", "updatedAt": "2025-01-01T00:00:00.000Z" }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "template-busca-empresa-v1"
}
